<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Title</title>


    <link rel="stylesheet"  href="{{ asset('css/exo_style.css') }}"  />
<body>
    <header >
        <div id="menu">
            <img src="/img/logo.png"   />
            <div>
                <ul >
                    <li><a href="{{ path('admin_accueil') }}">ACCUEIL</a></li>
                    <li>LIVRES</li>
                    <li>DIVERS</li>
                </ul>

            <div>
                <form action="{{ path('admin_book_search') }}" method="get">
                    <label for="word"></label>
                    <input type="text" name="word" placeholder="Rechercher sur le site…">
                    <button>Rechercher</button>

                </form>

            </div>

        </div>
    </header>
<main>

<section>
    {% for key, book in books %}

    <div id="livre">

        <div id="contenu">
            <img src="/img/200.webp"  />

            <p class="titre"><a href="{{ path('admin_book', { 'id': book.id }) }}">{{ book.title }}</a> </p>

                <p>Auteur : {{ book.author.name }} {{ book.author.firstname }}</p>
                <p>Résumé : {{ book.resume }}</p>

        </div>

    </div>
    {% endfor %}
</section>
</main>
    <footer>
        <div id="menu">
            <img src="/img/logo.png"   />
            <div>
                <ul >
                    <li>Lien 1</li>
                    <li>Lien 2</li>
                    <li>Lien 3</li>
                </ul>
            </div>

        </div>
    </footer>
</body>
</html>